body {
	font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
	margin: auto;
    padding: auto;
    display: block;
    height: 1520px;
    width: 100%;
}

a:hover {
	text-decoration: underline;
}

.nom-description {
        padding-top: 180px;
	    position: absolute;
    	width: 26%;
    	left: 65%;
}

input{
  font-size: 2em;
  width: 40px;
  margin: 0;
}

input#result {
  width: 40px;
  text-align: center;
}

.quantite {
	display: contents;
	font-size: 19px;

}

.bouton-ajouter {
	position: relative;
    top: 21px;

}

.button-panier {
	width: 65%;
  background-color: #333032; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

.rating {
	width: 20%;
    position: relative;
    top: -21px;
    left: -37%;

}

.liste-achat {
	width: 65%;
  background-color: #dbdbdb; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.bouton {
	flex-direction: column;
	margin-top: 5%;
	cursor: pointer;
}

.liste-achat:hover{
	cursor: pointer;
	opacity: 0.7 ;

}

.button-panier:hover{
	cursor: pointer;
	background-color: #5e5b5c;

}

.nouveau {
    color: #fff;
    background: #333032;
    display: table;
    padding: 0 .4rem .1rem;
    border-radius: 1rem;
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: .1rem
}

.titre-product {
	    font-size: 1.25rem;
    	line-height: 2rem;
    	font-weight: 700;

}

.bouton-disponible {
	text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 1rem;
    -webkit-box-direction: normal;
}
section {
    padding-left: 0px;
}

.vitval {

	padding: 0;
    margin: 40px 2.66667rem;
    width: 545px;
    margin-left: 27%;
}

.vitval2 {
	
	position: relative;
    float: left;
    cursor: pointer;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .66667rem;
    margin-left: .66667rem;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 4rem;
    width: 4rem;
    left: 29%;
    top: 136px;
}

.vitval3 {
	padding-top: 1500px;
	position: relative;
    float: left;
    cursor: pointer;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .66667rem;
    margin-left: .66667rem;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 4rem;
    width: 4rem;
    left: 25%;
    top: 53px;
}
.footer {
	width: 100%;
	height: 500px;
	background-color: #333032;
	align-items: center;
	color: white;
	font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
}

.Services {
	position: absolute;
	left: 60%;
}

.liste-aide {
	position: absolute;
    left: 30%;
}

.reseaux {
	padding-right: .6em;
margin: 1em 0;
}

.facebook {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 33%;
    top: 276px;
}

.instagram {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 43%;
    top: 276px;
}

.twitter {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 53%;
    top: 276px;
}

.avis {
	position: relative;
    right: 13%;
}

.facebook-logo {
	width: 20px;
    position: relative;
    top: 239px;
    left: 31%;
}

.instagram-logo {
	width: 20px;
    position: relative;
    top: 240px;
    left: 44%;
}

.twitter-logo {
	width: 20px;
    position: relative;
    top: 239px;
    left: 57%;

}

.copyright {
	font-size: 12px;
    position: relative;
    top: 325px;
    left: 45%;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;


}

.titre-footer {
	 font-weight: 700;
}
header div {
    width: 70%;
    height: 80px;
    padding-left: 60px;
}
header div img {
    width: 60px;
    height: 60px;
}

/*header nav {
    color: black;
    float: left;
    margin-right: 1000px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

header nav ul li {
    float: right;
}

header nav ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: blue;
}*/
header {
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
    height: 70px;
}
 
header a {
    overflow: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    /*background-color: #ddd;*/
    color:black;
  }

header nav {
    float: right;
    height: 90px;
  }

header li {
    margin-left: 19px;
    display: inline-block;
}