body {
    width: 100%;
    height: 1000px;
    padding: auto;
    margin: auto;
    display: block;
}

/*header {
    background: red;
    width: 100%;
    height: 110px;
    padding-left: 0px;
}*/

header div {
    width: 70%;
    height: 80px;
    padding-left: 60px;
}
header div img {
    width: 60px;
    height: 60px;
}

/*header nav {
    color: black;
    float: left;
    margin-right: 1000px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

header nav ul li {
    float: right;
}

header nav ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: blue;
}*/
header {
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
    height: 70px;
}
 
header a {
    overflow: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    /*background-color: #ddd;*/
    color:black;
  }

header nav {
    float: right;
    height: 90px;
  }

header li {
    margin-left: 19px;
    display: inline-block;
}
.container {
    padding-top: 150px;
    width: 100%;
    height: 100%;
}
.container .colonne {
    width: 100%;
    height: 300px; 
}
.container .colonne div {
    display : inline-block;
    padding-left: 20px;
    margin-left: 10%;
}

.container .colonne div img {
    width: 150px;
    height: 150px;
}

.container .colonne .text {
    position: relative;
    width: 100%;
}
button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
button a {
    color: black;
    text-decoration: none;
}
button a:hover {
    text-decoration: none;
}

button:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

h2 {
    font-size: 11px;
    padding-left: 20px;
    margin-left: 30px;
}