body {
    width: 100%;
    height: 1000px;
    padding: auto;
    margin: auto;
    display: block;
}

.container {
    padding-top: 150px;
    width: 100%;
    height: 100%;
}

.container div {
    width: 100%;
}

.container div img {
    width: 100%;
    height: 300px;
}

div p {
    font-style: italic;
    font-weight: 600px;
    font-size: 50px;
    align-items: center;
    margin-left: 20%;
}
.footer {
	width: 100%;
	height: 500px;
	background-color: #333032;
	align-items: center;
	color: white;
	font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', sans-serif !important;
}

.Services {
	position: absolute;
	left: 60%;
}

.liste-aide {
	position: absolute;
    left: 30%;
}

.reseaux {
	padding-right: .6em;
margin: 1em 0;
}

.facebook {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 33%;
    top: 276px;
}

.instagram {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 43%;
    top: 276px;
}

.twitter {
	position: relative;
    color: white;
    text-decoration: blink;
    left: 53%;
    top: 276px;
}

.avis {
	position: relative;
    right: 13%;
}

.facebook-logo {
	width: 20px;
    position: relative;
    top: 239px;
    left: 31%;
}

.instagram-logo {
	width: 20px;
    position: relative;
    top: 240px;
    left: 44%;
}

.twitter-logo {
	width: 20px;
    position: relative;
    top: 239px;
    left: 57%;

}

.copyright {
	font-size: 12px;
    position: relative;
    top: 325px;
    left: 45%;
}

li:hover {
	text-decoration: underline;
	cursor: pointer;


}

.titre-footer {
	 font-weight: 700;
}

/*header {
    background: red;
    width: 100%;
    height: 110px;
    padding-left: 0px;
}*/

header div {
    width: 70%;
    height: 80px;
    padding-left: 60px;
}
header div img {
    width: 60px;
    height: 60px;
}

/*header nav {
    color: black;
    float: left;
    margin-right: 1000px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

header nav ul li {
    float: right;
}

header nav ul li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: blue;
}*/
header {
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    width: 100%;
    height: 70px;
}
 
header a {
    overflow: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
    /*background-color: #ddd;*/
    color:black;
  }

header nav {
    float: right;
    height: 90px;
  }

header li {
    margin-left: 19px;
    display: inline-block;
}

